/* invoice.css */

html, body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  font-size: 20px;
}

* {
  box-sizing: border-box;
}

main {
  margin: 2rem auto 4rem auto;
  max-width: 1024px;
}

main h1 {
  margin: 0;
  font-size: 32px;
}

.header {
  margin-bottom: 2rem;
}

.is-block {
  display: block;
}

.field {
  margin-bottom: 0.5rem;
}

.invoice-section {
  margin-bottom: 2.5rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

.column {
  justify-content: top;
  display: block;
}

.is-fullwidth {
  width: 100%;
}

.table {
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  border: 0;
}

.input, .textarea {
  width: 100%;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 20px;
  padding: .40rem;
  margin-top: 0.2rem;
}


.button {
  cursor: pointer;
  background-color: #f6f8fa;
  color: #333;
  display: inline-flex;
  border-radius: 6px;
  border: 1px solid #aaa;
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-left: 0.72rem;
  padding-right: 0.72rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.button:hover {
  background-color: white;
}
.button:hover * {
    color: #444;
}
.button span {
  display: inline-flex;
}
.button .icon:first-child:not(:last-child) {
  padding-right: 0.25rem;
}
.is-small {
  font-size: 10px;
}
.is-large {
  font-size: 24px;
  padding-left: .85rem;
  padding-right: .85rem;
  padding-top: .45rem;
  padding-bottom: .45rem;
}
.button.is-small {
  padding-left: .45rem;
  padding-right: .45rem;
}
.button.danger {
  background-color: #ffefbf;
}
.button.danger:hover {
  background-color: #fffbed;
}
.button.primary {
  background-color: #0080ff;
  color: #fafafa;
  border: 1px solid #0080ff;
}
.button.primary:hover {

  background-color: #0078e0;
}

.button.primary:hover * {
  color: #ddd;
}

.is-small span {
  font-size: 10px;
}

.icon svg {
  width: 24px;
  height: 24px;
}
.is-small .icon {

}
.is-small .icon svg {
  width: 20px;
  height: 20px;
}

.recipients .is-large-textarea {
  min-height: 8rem;
  padding-left: .85rem;
  padding-right: .85rem;
  padding-top: .45rem;
  padding-bottom: .45rem;
}
.recipients [name=description] {
  resize: vertical;
}

.invoice-table tr, td {
  padding-right: 0.5rem;
}
.invoice-table thead th:nth-child(1) {
  width: auto;
}
.invoice-table thead th:nth-child(2) {
  width: 14%;
}
.invoice-table thead th:nth-child(3) {
  width: 14%;
}
.invoice-table thead th:nth-child(4) {
  width: 10%;
}
.invoice-table thead th:nth-child(5) {
  width: 15%;
}
.invoice-table thead th:nth-child(6) {
  width: 3%;
}

table.table {
  margin-bottom: 1rem;
}

table.summary-table .spacing {
  width: 20%;
}
table.summary-table td:nth-child(2) {
  width: 40%;
  text-align: right;
}

table.summary-table td:nth-child(3) {
  width: 20%;
  text-align: right;
}

table.summary-table .total-before-taxes tr td {
  padding-bottom: 0.5rem;
}
table.summary-table .totals .tax td {
  padding-bottom: 0.5rem;
}

table.summary-table .totals .amount td {

  font-weight: 600;
}

.text-centered {
  text-align: center;
}