<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ page.title || "Tuomas Jomppanen" }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <script defer data-domain="jomppanen.com" src="https://analytics.jomppanen.com/js/script.js"></script>
  </head>
  <body>
    <section class="container content">
      {{ content }}
    </section>
    <section class="container content">
      <p>
        <a href="/">&larr; Back to main page</a>
      </p>
      <br>
      <br>
    </section>
    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
