<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ page.title || "Tuomas Jomppanen" }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="stylesheet" href="/oulu-saas/asciinema/asciinema-player.css">
  </head>
  <body>
    {% include header.html %}
    <section class="container content">
      {{ content }}
    </section>
    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
