<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <meta charset="UTF-8">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>Tuomas Jomppanen</title>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="ae48056e-5bcd-40b2-8cce-2d5cdabfc1c3"></script>
    <link rel="canonical" href="{{ site.url}}{{ page.url }}">
  </head>
  <body>
    {% include header.html %}
    <section class="container content">
      <header class="post-title">
        <h1>{{ page.title }}</h1>
        <p>
          <small>{{ page.date | date_to_string }}</small>
        </p>
      </header>

    </section>
    <section class="container content">


      {{ content }}
    </section>
    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
